<?xml version="1.0"?>
<robot 
    xmlns:xacro="http://www.ros.org/wiki/xacro" >  

    <!-- Box geometry -->
    <xacro:property name="element_name" value="element"/>
    <xacro:property name="width"        value="0.5"/>
    <xacro:property name="height"       value="0.7"/>
    <xacro:property name="thickness"    value="0.1"/>
    <xacro:property name="mass"         value="5.0"/>

    <!-- Macro for inertia matrix for rectangular box around its center -->
    <xacro:macro name="box_inertial" params="m x y z dx dy dz">
        <inertial>
            <mass  value="${m}"/>
            <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
            <inertia ixx="${m/12*(dy*dy + dz*dz)}" ixy="0.0" ixz="0.0"
                     iyy="${m/12*(dx*dx + dz*dz)}" iyz="0.0"
                     izz="${m/12*(dx*dx + dy*dy)}"/>
        </inertial>
    </xacro:macro>

</robot>
